<div class="row">
<div class="col-sm-8 blog-main">

<h1 class="blog-post-title">$title$</h1>
<p class="blog-post-meta">
Posted on $date$ $if(author)$ by $author$ $endif$</br>
$if(tags)$ Tags: $tags$ $endif$
</p>

$body$

</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module">
		<h4>Links</h4>
		<ol class="list-unstyled">
			<li><a href="https://github.com/stappit">GitHub</a></li>
			<li><a href="https://stappit.github.io/atom.xml">Atom Feed</a></li>
		</ol>
	</div>
</div><!-- /.blog-sidebar -->
</div>
